@page
@using Microsoft.AspNetCore.Http
@model ChangePasswordModel
@{
    Layout = "Shared/_UserLayout";
    ViewData["Title"] = "HOA Change Password";

}

@*This is used to check if the user has logged in or not.*@
@if (HttpContext.Session.GetString("SessionUser") == null || HttpContext.Session.GetString("SessionUser") == "") {
    Response.Redirect(Url.Content("~/User/Login"));
}

<div class="container-fluid auth-container">
    <form method="post">
        <div class="text-center">
            <h2>Sundridge HOA</h2>
        </div>
        <div class="auth-box panel panel-secondary">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center">Change Password</h3>
                    </div>
                </div>

                <div class="form-group">
                    <label>Current Password</label>
                    <input type="password" name="OldPassword" class="form-control">
                    <p class="text-danger">@ChangePasswordModel.oldPassMessage</p>
                </div>
                <div class="form-group">
                    <label>New Password</label>
                    <input type="password" name="NewPassword" class="form-control">
                    <p class="text-danger">@ChangePasswordModel.newPassMessage</p>
                </div>
                <div class="form-group">
                    <label>Repeat New Password</label>
                    <input type="password" name="ReNewPassword" class="form-control">
                    <p class="text-danger">@ChangePasswordModel.newPassMessage</p>
                </div>
                <br />
                <p class="text-success">@ChangePasswordModel.successPassMessage</p>
                <br />
                <button type="submit" class="btn btn-accent text-center pull-right">Change Password</button>

                <input type="button" onclick="window.history.back()" class="btn btn-default" value="Back">
            </div>
        </div>
    </form>
</div>