@page
@model ForgotPasswordModel
@{
    Layout = "Shared/_UserLayout";
    ViewData["Title"] = "Forgot Password";
}

<div class="container-fluid auth-container">
    <form>
        <div class="text-center">
            <h2>Sundridge HOA</h2>
        </div>
        <div class="auth-box panel panel-secondary">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center">Recover Your Password</h3>
                    </div>
                </div>

                <div class="form-group">
                    <label>Please enter your email</label>
                    <input type="text" name="emailReset" class="form-control">
                </div>

                <button type="button" class="btn btn-accent btn-block text-center login-btn">Reset Password</button>

                <a asp-page="Login" class="pull-right"> <i class="fas fa-angle-double-left"></i> Back to Login</a>
            </div>
        </div>
    </form>
</div>