@page
@using Microsoft.AspNetCore.Http
@model HOASunridge.Pages.Admin.Maintenance.DeleteModel

@{ ViewData["Title"] = "Delete";
                ViewData["PageName"] = "Maintenance";
}

@*This is used to check if the user has logged in or not.*@
@if (HttpContext.Session.GetString("SessionUser") == null || HttpContext.Session.GetString("SessionUser") == "") {
    Response.Redirect("/User/Login");
}

<form method="post" id="deleteMaintenance">
    <input type="hidden" asp-for="Maintenance.MaintenanceID" />
    <p id="message"></p>
</form>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#deleteMaintenance').submit();
        });

        setTimeout(displayMessage, 3000);
        function displayMessage() {
            document.getElementById("message").innerHTML = 'If you are not redirected soon, please click <a asp-page="./Index" onclick="form.submit()">here </a>';
        }
    </script>
}