@page
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@model HOASunridge.Pages.Admin.Keys.CreateModel

@{ ViewData["Title"] = "Create";
    ViewData["PageName"] = "Keys";
    TempData["PageUrl"] = Microsoft.AspNetCore.Http.Extensions.UriHelper.GetDisplayUrl(Request);
}

@*This is used to check if the user has logged in or not.*@
@if (HttpContext.Session.GetString("SessionUser") == null || HttpContext.Session.GetString("SessionUser") == "") {
    Response.Redirect("/User/Login");
}

<div class="box box-default edit">
    <div class="box-header with-border">
        <h3 class="box-title">Assign a Key</h3>
    </div>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Key.SerialNumber" class="control-label"></label>
                    <small class="text-danger">*Required</small>
                    <input asp-for="Key.SerialNumber" class="form-control" />
                    <span asp-validation-for="Key.SerialNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Key.KeyHistory.DateIssued" class="control-label" value="@DateTime.Today.ToString("yyyy-MM-dd")"></label>
                    <small class="text-danger">*Required</small>
                    <input asp-for="Key.KeyHistory.DateIssued" class="form-control" />
                    <span asp-validation-for="Key.KeyHistory.DateIssued" class="text-danger"></span>
                </div>
            </div>
        </div>
        <label>Owner/Third-Party Affiliate</label>
        <small class="text-danger">*Required</small>
        <div class="form-group">
            <input type="text" id="owner" name="ownerName" value="" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Key.KeyHistory.PaidAmount" class="control-label"></label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input asp-for="Key.KeyHistory.PaidAmount" value="0.00" class="form-control" />
            </div>
            <span asp-validation-for="Key.KeyHistory.PaidAmount" class="text-danger"></span>
        </div>
        <br />
        @Html.ValidationSummary(false, "", new { @style = "color: red" })

        <div class="form-group">
            <a asp-page="Index" class="btn btn-default">Cancel</a>
            <input type="submit" value="Assign" class="btn btn-accent pull-right" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var list = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Owners));
        $("#owner").autocomplete({
            minLength: 0,
            source: list,
            select: function (event, ui) {
                $("#owner").val(ui.item.Name);
            }
        });
    </script>
}