@page
@model ResetPasswordModel
@{
}

<form method="post" id="resetPassForm">
    <p id="message"></p>
</form>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#resetPassForm').submit();
        });

        setTimeout(displayMessage, 3000);
        function displayMessage() {
            document.getElementById("message").innerHTML = 'If you are not redirected soon, please click <a asp-page="./Profile" onclick="form.submit()">here </a>';
        }
    </script>
}