<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/node_modules/admin-lte/dist/js/adminlte.min.js"></script>
    <script src="~/js/scripts.js"></script>

    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>